<article class="info">
    <h2 class="article__title">Historia de la Liga</h2>
    <p class="article__paragraph highlighted">La Liga de Tenis es una organización dedicada a promover y desarrollar el tenis como deporte en nuestra comunidad. Fundada en 2005, hemos crecido hasta convertirnos en una de las ligas más destacadas de la región.</p>

    <p class="article__paragraph">Desde nuestros inicios, nos hemos comprometido a proporcionar oportunidades para que jugadores de todos los niveles participen, aprendan y disfruten del tenis. Nuestra liga ofrece eventos regulares, torneos emocionantes y programas de desarrollo para jugadores jóvenes.</p>

    <blockquote class="article__blockquote">El tenis no es solo un deporte, es una pasión que une a personas de todas las edades y habilidades.</blockquote>

    <h2 class="article__title">Actividades Recientes</h2>
    <p class="article__paragraph">En los últimos meses, la Liga de Tenis ha organizado una serie de eventos exitosos, incluyendo el Torneo Anual de Primavera y el Campamento de Entrenamiento de Verano. Estamos comprometidos a fomentar la camaradería y el espíritu deportivo entre nuestros miembros.</p>

    <img class="article__image" src="assets/images/LaLigaTrofeo.jpg" alt="Evento de la Liga">

    <p class="article__paragraph">La participación en nuestros eventos ha crecido significativamente, lo que demuestra el creciente interés en el tenis en nuestra comunidad. Nos enorgullece ser parte de la evolución y crecimiento de este maravilloso deporte.</p>

    <h2 class="article__title">Próximos Desafíos</h2>
    <p class="article__paragraph">Estamos emocionados por los desafíos que enfrentaremos en el futuro. Nuestro objetivo es expandir nuestras instalaciones, ofrecer más oportunidades de entrenamiento y fomentar la participación en el tenis juvenil.</p>

    <img class="article__image" src="assets/images/laLigaKids.jpg" alt="Desafío de la Liga">
    
    <p class="article__paragraph">Próximos Desafíos:</p>
    <ul class="article__list">
        <li class="article__list-item desafio"><span class="fa-li"><i class="fa-solid fa-check-square"></i></span>Liga de Otoño 2024</li>
        <li class="article__list-item desafio"><span class="fa-li"><i class="fa-solid fa-check-square"></i></span>Torneo de Dobles</li>
        <li class="article__list-item desafio"><span class="fa-li"><i class="fa-solid fa-check-square"></i></span>Desarrollo de Programa Juvenil</li>
        <li class="article__list-item desafio"><span class="fa-li"><i class="fa-solid fa-check-square"></i></span>Campeonato Nacional de Tenis</li>
    </ul>
    <p class="article__paragraph">Con el apoyo de nuestros patrocinadores y la dedicación de nuestros miembros, estamos seguros de que la Liga de Tenis seguirá siendo un pilar en el mundo del tenis local y nacional.</p>
    
    <h2 class="article__title">Últimos logros de la liga</h2>
    <p class="article__paragraph">La liga ha conseguido grandes logros a lo largo de su trayectoria:</p>
    <ul class="article__list">
        <li class="article__list-item logro">Torneo Anual de Primavera 2023</li>
        <li class="article__list-item logro">Campamento de Entrenamiento de Verano</li>
        <li class="article__list-item logro">Expansión de instalaciones deportivas</li>
        <li class="article__list-item logro">Participación en eventos internacionales</li>
    </ul>

</article>