<footer class = "bg-grey-footer font-sans">
    <nav class="bg-white p-2 w-full ">
        <div class="container mx-auto flex justify-between items-right">
            <button class="lg:hidden text-gray-800">
                <i class="fas fa-bars"></i>
            </button>
            <div class="hidden lg:flex items-center space-x-4">
                <a href="index.html" class="text-[#ffffff8c] hover:text-white-white transition">Inicio</a>
                <a href="participants.html" class="text-[#ffffff8c] hover:text-white-white transition ">Participantes</a>
            </div>
            <div class="lg:hidden absolute top-10 left-4 bg-white shadow-md">
                <a href="index.html" class="block px-4 py-2 text-[#ffffff8c] hover:text-white-white transition">Inicio</a>
                <a href="participants.html"
                    class="block px-4 py-2 text-[#ffffff8c] hover:text-white-white transition">Participantes</a>
            </div>
        </div>
    </nav>
</footer>